doctype html
html(lang="ja")
  head
    link(rel="stylesheet" href="/style.css")
    script(defer src="/script.js")
    title= title + "- 日本法令引用 URL"
    meta(property="og:title" content="会社法")
    meta(property="og:description" content=sentence)
    meta(property="og:image" content=`https://og.kbn.one/%23%20${title}%0A${sentence}.png?md=1`)
  body
    #source
      a(href="https://elaws.e-gov.go.jp/search/elawsSearch/elaws_search/lsg0500/detail?lawId=417AC0000000086") 原本へのリンク
    != xml 
    