:root {
  --color: black;
  --bg: white;
  --bg-selected: #fcc;
  @media (prefers-color-scheme: dark) {
    --color: white;
    --bg: black;
    --bg-selected: #933;
    a {
      color: #bbf;
    }
  }
}

@supports (font: -apple-system-body) {
  html {
    font: -apple-system-body;
  }
}
@font-face {
  font-family: UDPGothic;
  src: local("BIZ UDPGothic"),url("/BIZUDPGothic-Regular.ttf") format("ttf")
}
html {
  font-family: UDPGothic;
}
body {
  font-size: 16px;
  line-height: 1.6;
  margin: 10px;
  color: var(--color);
  background-color: var(--bg);
}
#title {
  a {
    text-decoration: none;
    color: var(--color)
  }
}
// top page
ul.list {
  padding-inline-start: 20px;
}
ul.inline {
  padding: 0;
  li {
    display: inline-block;
    padding: 0 0.25rem;
    border-right: solid 1px;
    &:first-child {
      border-left: solid 1px
    }
  }
}
.collapse {
  &::after {
    content: " [+]";
  }
  ~ * {
    display: none;
  }
}
.selected {
  background-color: var(--bg-selected);
  position: relative;
  * {
    background-color: inherit;
  }
}
#share {
  position: absolute;
  z-index: 100;
  height: 1.5rem;
  top: -1.5rem;
  right: 0;
  svg {
    height: 1.5rem;
    width: 1.5rem;
    color: pink;
    opacity: 0.5;
  }
}
Law * {
  display: block;
}
Result, ApplData>LawNum, TOC {
  display: none
}
$part-color: hsl(0, 50%, 50%);
@mixin flex-container {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  flex-basis: 100%;
  &Title {
    margin-right: 1rem;
    break-after: avoid-column;
  }
  &Sentence {
    break-after: column;
  }
}
@mixin section($color) {
  border-left: solid 4px $color;
  margin-bottom: 1rem;
  padding-left: 6px;
}

LawTitle, PartTitle, ChapterTitle, SectionTitle, ArticleTitle {
  position: sticky;
  background-color: var(--bg);
}

Law {
  --law-title-h: 4.1rem;
  --part-title-height: 0rem;
  --chapter-title-h: 0rem;
  --section-title-h: 0rem;
}
LawTitle {
  font-size: 2.5em;
  border-bottom: dotted var(--color) 3px;
  top: 0;
  z-index: 100;
}

Part {
  --part-title-height: 3rem;
  @include section($part-color);
  &Title {
    z-index: 90;
    top: calc(var(--law-title-h));
    font-size: 2rem;
  }
}
Chapter {
  --chapter-title-h: 2.2rem;
  @include section(adjust-hue($part-color, 30deg));
  &Title {
    z-index: 80;
    top: calc(var(--law-title-h) + var(--part-title-height));
    font-size: 1.5rem;
  }
}
Section {
  --section-title-h: 2rem;
}
Article {
  @include section(adjust-hue($part-color, 60deg));
  &Title {
    z-index: 60;
    top: calc(var(--law-title-h) + var(--part-title-height) + var(--chapter-title-h));
  }
}
Paragraph, Item, SubItem1 {
  @include flex-container;
}
Paragraph {
  @include section(adjust-hue($part-color, 90deg));
}
Item {
  @include section(adjust-hue($part-color, 120deg));
}
SubItem1 {
  @include section(adjust-hue($part-color, 150deg));
}

SupplProvision {
  @include section($part-color);
  &::before {
    content: attr(AmendLawNum);
    display: block;;
    background-color: var(--bg);
    position: sticky;
    top: 0;
    z-index: 4;
  }
  &Label {
    background-color: var(--bg);
    font-size: 1.5rem;
    position: sticky;
    top: 1.5rem;
    z-index: 3;
  }
  Article {
    &Title {
      top: 3.1rem;
      z-index: 2;
    }
  }
}
Column {
  display: block;
}
Sentence {
  display: inline;
}
Ruby {
  display: inline;
}
TableStruct {
  display: table;
}
TableRow {
  display: table-row;
}
TableColumn {
  display: table-cell;
}
StyleStruct {
  display: none;
}
