:root {
  --color: black;
  --bg: white;
  --bg-selected: #fcc;
  @media (prefers-color-scheme: dark) {
    --color: white;
    --bg: black;
    --bg-selected: #933;
    a {
      color: #bbf;
    }
  }
}

@supports (font: -apple-system-body) {
  html {
    font: -apple-system-body;
  }
}
@font-face {
  font-family: UDPGothic;
  src: local("BIZ UDPGothic"),url("/BIZUDPGothic-Regular.ttf") format("truetype")
}
html {
  font-family: UDPGothic;
}
body {
  font-size: 16px;
  line-height: 1.6;
  margin: 10px;
  color: var(--color);
  background-color: var(--bg);
}
#title {
  a {
    text-decoration: none;
    color: var(--color)
  }
}
// top page
ul.inline {
  padding: 0;
  li {
    display: inline-block;
    padding: 0 0.25rem;
    border-right: solid 1px;
    &:first-child {
      border-left: solid 1px
    }
  }
}
.hidden {
  display: none;
}

// law page
.collapse {
  &::after {
    content: " [+]";
  }
  ~ * {
    display: none;
  }
}
.selected {
  background-color: var(--bg-selected);
  position: relative;
  * {
    background-color: inherit;
  }
}
#share {
  position: absolute;
  z-index: 100;
  height: 1.5rem;
  top: -1.5rem;
  right: 0;
  svg {
    height: 1.5rem;
    width: 1.5rem;
    color: pink;
    opacity: 0.5;
  }
}

hr {
  background-color: var(--bg);
  border: dotted var(--color);
  border-width: 3px 0 0 0;
  margin: 0;
  padding-block: 3px;
  position: sticky;
  z-index: 99;
}
Law * {
  display: block;
}
Result, ApplData>LawNum, TOC {
  display: none
}
$part-color: hsl(0, 50%, 50%);
@mixin section($color) {
  border-left: solid 4px $color;
  padding-bottom: 1rem;
  padding-left: 6px;
}

LawTitle, PartTitle, ChapterTitle, SectionTitle, ArticleTitle {
  position: sticky;
  background-color: var(--bg);
}

Law {
  --law-title-h: 4.3rem;
  --part-title-height: 0rem;
  --chapter-title-h: 0rem;
  --section-title-h: 0rem;
}
LawTitle {
  font-size: 2.5rem;
  overflow: hidden;
  top: 0;
  z-index: -1;
  &:hover {
    max-height: 100vh !important;
  }
}
LawTitle:hover ~ LawTitle {
  visibility: hidden;
}

EnactStatement, MainProvision {
  background-color: var(--bg);
}

Part {
  --part-title-height: 3rem;
  background-color: var(--bg);
  @include section($part-color);
  &Title {
    z-index: 90;
    top: calc(var(--law-title-h));
    font-size: 2rem;
  }
}
Chapter {
  --chapter-title-h: 2.2rem;
  background-color: var(--bg);
  @include section(adjust-hue($part-color, 30deg));
  &Title {
    z-index: 80;
    top: calc(var(--law-title-h) + var(--part-title-height));
    font-size: 1.5rem;
  }
}
Section {
  --section-title-h: 2rem;
}
Article {
  @include section(adjust-hue($part-color, 60deg));
  &Title {
    z-index: 60;
    top: calc(var(--law-title-h) + var(--part-title-height) + var(--chapter-title-h));
  }
}
Paragraph, Item, Subitem1 {
  flex-wrap: wrap;
  margin-top: 1rem;
  &Num {
    display: inline;
  }
  &Title {
    break-after: avoid-column;
    display: inline;
  }
  &Sentence {
    break-after: column;
    display: inline;
  }
}
Paragraph {
  @include section(adjust-hue($part-color, 90deg));
}
Item {
  @include section(adjust-hue($part-color, 120deg));
}
Subitem1 {
  @include section(adjust-hue($part-color, 150deg));
}

SupplProvision {
  background-color: var(--bg);
  @include section($part-color);
  &::before {
    background-color: var(--bg);
    content: attr(AmendLawNum);
    display: block;
    position: sticky;
    top: var(--law-title-h);
    z-index: 4;
  }
  &Label {
    background-color: var(--bg);
    font-size: 1.5rem;
    position: sticky;
    top: calc(var(--law-title-h) + var(--amend-law-num-h));
    z-index: 3;
  }
  Article {
    &Title {
      position: sticky;
      top: calc(var(--law-title-h) + var(--amend-law-num-h) + 2rem);
      z-index: 2;
    }
  }
}
SupplProvision[AmendLawNum] {
  --amend-law-num-h: 1.9rem;
}
Column {
  display: block;
}
Sentence {
  display: inline;
}
Ruby {
  display: inline;
  Rt {
    display: inline-block;
    font-size: x-small;
    vertical-align: super;
  }
}
TableStruct {
  border-collapse: collapse;
  display: table;
}
TableRow {
  display: table-row;
}
TableColumn {
  border: solid 1px;
  display: table-cell;
  padding: 0.3rem;
}
StyleStruct {
  display: none;
}
ImageData {
  display: none;
}
